.rectangle img {
  width: 354px;
  height: 370px;
}
.rectangle h2 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  /* identical to box height */
  color: #161d2a;
}
.rectangle li {
  list-style-type: none;
}
.rectangle a {
  text-decoration: none;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  /* or 171% */
  color: #585a5e;
}
.rectangle a:hover {
  background: linear-gradient(rgb(18, 134, 243), rgb(244, 248, 14));
}
.rectangle p {
  text-decoration: none;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  /* or 171% */
  color: #000000;
}
.rectangle {
  background: #e0ebfe;
  border-radius: 0px;
  width: 370px;
  height: 1319px;
}
.text-intro h1 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 45px;
  line-height: 55px;

  color: #000000;
}
.text-intro h3 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */

  color: #000000;
}
.text-intro p {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  /* or 171% */

  color: #595959;
}
.projects h2 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  /* identical to box height */

  color: #000000;
}
.projects a {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  /* or 171% */
  color: #005fff;
  text-decoration: solid;
}
.projects {
  margin: 317px;
}
.projects a:hover {
  color: #6d9bf5;
}
.text-intro {
  margin: 102px 217px;
}
.work_experience h2 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  /* identical to box height */

  color: #000000;
}
.work_experience {
  margin: 530px;
}
.work_experience h3 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  /* identical to box height */

  color: #000000;
}
.work_experience h4 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  /* identical to box height */

  color: #a8a8a8;
}
.span {
  color: #6d9bf5;
}
.work_experience p {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  /* or 171% */

  color: #595959;
}
.teaching h2 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  /* identical to box height */

  color: #000000;
}
.teaching h3 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  /* identical to box height */

  color: #000000;
}
.teaching {
  margin: 759px;
}
.teaching p {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  /* or 171% */

  color: #6d6464;
}
.date h2 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  /* identical to box height */

  color: #000000;
}
.date {
  margin: 1098px;
}
.date p {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  /* or 171% */

  color: #c0f0e5;
}
